<html>
    <body style="background-color: blue;">
<h3 style="color: white;">
Sabemos que grande parte das pessoas adora uma boa história, não é mesmo? Pensando nisso, é importante que a página sobre nós conte com uma narrativa envolvente capaz de atrair a atenção. Isso pode ser feito por meio das técnicas de storytelling, isto é, uma forma de contar histórias de forma inesquecível para se conectar com o leitor a nível emocional.

Partindo disso, vale a pena pensar se o processo de criação da sua loja tem uma curiosidade, um fato ou até um momento engraçado que vale a pena compartilhar com os visitantes.

Se a sua marca for sustentável, ou seja, se utiliza embalagens biodegradáveis, preocupa-se com produções mais conscientes e com o impacto ambiental, inserir essas informações na página sobre nós é fundamental. Atualmente a sustentabilidade tem ganhado cada vez mais destaque. Sendo assim, ter uma empresa que se preocupa verdadeiramente com o meio ambiente é um grande diferencial, além disso, pode atrair mais público.

A cereja do bolo é transformar a sua história em uma oportunidade de engajamento. Isso porque utilizar elementos da narrativa, como: ambiente e personagens, tende a atrair cada vez mais o interesse do leitor. Uma marca que faz uso desses elementos em sua página sobre nós é a Arte de Maria. No próximo tópico trouxemos este exemplo, então, é só continuar a leitura.

Sendo assim, no decorrer do texto, mencione sempre seus produtos, conte a história por trás da criação e aponte os diferenciais para que, no final, esse entusiasmo seja direcionado para a sua marca.

Tudo isso tende a despertar a curiosidade entre o que foi falado e os seus produtos. Afinal, comprar uma mercadoria que tem uma história por trás parece muito mais interessante.
</h3>
</body>
</html>